@use "../abstracts" as *;

.heading-1 {
    font-family: 'Poppins';
    font-size: 36px;
    font-weight: 400;
    line-height: 49px;
    letter-spacing: 0.48px;
    color: $color-black;

    @include media-breakpoint-up(xs) {
        font-size: 39px;
    }

    @include media-breakpoint-up(x) {
        font-size: 64px;
        line-height: 1.681;
    }
}

.heading-2 {
    font-family: 'Poppins';
    font-size: 32px;
    font-weight: 400;
    line-height: 39px;
    letter-spacing: 0.48px;
    color: $color-black;

    @include media-breakpoint-up(x) {
        font-size: 46px;
        line-height: 1.681;
    }
}

.heading-3 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.48px;
    color: $color-black;

    @include media-breakpoint-up(x) {
        font-size: 29px;
        line-height: 1.681;
    }
}

.heading-4 {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.48px;
    color: $color-black;

    @include media-breakpoint-up(x) {
        font-size: 19px;
        line-height: 1.681;
    }
}

%base-text-style {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
    color: $color-black;

    @include media-breakpoint-up(x) {
        font-size: 19px;
        line-height: 1.681;
    }
}

.body-copy {
    @extend %base-text-style;
}

.small-copy {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.48px;
    color: $color-black;

    @include media-breakpoint-up(x) {
        font-size: 16px;
        line-height: 1.681;
    }
}

.link {
    &,
    &:link,
    &:visited {
        @extend %base-text-style;
        line-height: 1;
        white-space: nowrap;
        cursor: pointer;
        display: flex;
        align-items: center;
    }

    & > img {
        width: 24px;
        height: 24px;
        margin-right: 16px;

        @include media-breakpoint-up(x) {
            width: 32px;
            height: 32px;
        }
    }

    &:hover {
        text-decoration: underline;
    }
}