@use "../../../abstracts/index" as *;

.home-contact {
    margin-top: 80px;

    & > .heading-2 {
        grid-column: 1 / -1;
    }

    &__map {
        grid-column: 1 / span 6;
        border-radius: 20px;
        overflow: hidden;
        height: 360px;

        @include media-breakpoint-down(md) {
            grid-column: 1 / -1;
        }
    }

    &__details {
        grid-column: span 6;

        @include media-breakpoint-down(md) {
            grid-column: 1 / -1;
        }
    }

    &__details-row {
        display: flex;
        text-decoration: none;

        & > span {
            width: 80px;
            min-width: 80px;
        }

        & > .link {
            text-decoration: underline;
            margin-left: 16px;
        }
    }

    &__details-icon {
       width: 32px;
       height: 32px;
       margin-right: 16px; 
    }

    &__details-content {
        padding-top: 13px;
    }
}