//colors
$color-primary: #009245;
$color-primary-light: #80C9A2;
$color-secondary: #FA691C;
$color-white: #fff;
$color-black: #121212;
$color-grey: #949494;
$color-grey-light: #DCDCDC;
$color-grey-dark: #212121;
$color-danger: #ED1B24;

//breakpoints
$breakpoint-xxs: 375px;
$breakpoint-xs: 390px;
$breakpoint-s: 480px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-x: 1280px;
$breakpoint-xl: 1367px;
$breakpoint-xli: 1460px;
$breakpoint-xi: 1680px;
$breakpoint-fhd: 1920px;
$breakpoint-fhds: 2240px;
$breakpoint-tk: 2560px;
$breakpoint-ik: 3340px;
$breakpoint-fk: 3840px;

//misc
$border-radius: 6px;